@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Job Portal System</h1>
    <a asp-controller="Jobs" asp-action="List" class="btn btn-primary">View all Jobs </a>
    <a asp-controller="Employer" asp-action="List" class="btn btn-primary">View all Employers Details </a>
    <a asp-controller="JobSeeker" asp-action="List" class="btn btn-primary">View all Job Applicants </a>
</div>
