@model ProjectJobPortalSystem.Models.JobsModel

@{
    ViewData["Title"] = "Apply";
}

<h1>Apply for this job</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Apply" asp-route-jobId="@Model?.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            
            <div class="form-group">
                Job Seeker Id : 
                <select asp-for="Id" asp-items="@ViewBag.jobseekerlist"></select>

                <span asp-validation-for="appliedJobSeekers" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div>
        <a asp-controller="Jobs" asp-action="List">Back to List of Jobs</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


