@model ProjectJobPortalSystem.Models.JobsModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="alert alert-primary">Create New Job</h1>

<hr />
<div class="row">
    <div class="col-md-8">
            <form asp-action="Create" class="mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="JobTitle" class="font-weight-bold">Job Title:</label>
                    <input asp-for="JobTitle" class="form-control" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="font-weight-bold">Description:</label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Website" class="font-weight-bold">Website:</label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TypeofJob" class="font-weight-bold">Type of Job:</label>
                <select asp-for="TypeofJob" asp-items="ViewBag.JobTypes" class="form-select">
                        <option value="">Select Job Type</option>
                    </select>
                    <span asp-validation-for="TypeofJob" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SalaryInfo" class="font-weight-bold">Salary Info:</label>
                    <input asp-for="SalaryInfo" class="form-control" />
                    <span asp-validation-for="SalaryInfo" class="text-danger"></span>
                </div>

                <div class="form-group">
                <label asp-for="EmployerId" class="font-weight-bold">EmployerEmail:</label> 
                <input readonly value="@ViewBag.EmployerName" class="form-control" />
                <input asp-for="EmployerId" hidden value="@ViewBag.EmployerId" class="form-control" />
                    
                </div>

                <div class="form-group">
                    <label asp-for="Location" class="font-weight-bold">Location:</label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            <br /><br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button> |
                    <a asp-controller="Home" asp-action="Index_Employer" class="btn btn-danger">Homepage</a>

            </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
